
<header class="" style="    position: relative;width: 100%; padding-top: 15px; margin-bottom: 15px;">
      <div class="container">
        <div class="col-lg-4  col-md-12 col-sm-12">
          <span class="text-muted"><a class="site-title" href="{{ site.baseurl }}/" style=" font-family: 'Luckiest Guy', cursive; font-size: 30px;" ><i class="fa fa-book" aria-hidden="true"></i> {{ site.title }}</a></span>
        </div>
        <div class="col-lg-8 col-md-12 col-md-12">
          <div class="pull-right">

              <a class="site-title" href="{{ site.baseurl }}/"> Request New Books </a> /
              <a class="site-title" href="{{ site.baseurl }}/"> About me</a>

          </div>
        </div>

      </div>
</header>
